.text-field {
    -fx-background-color: #2e2e2e;
    -fx-text-fill: white;
    -fx-background-insets: 1px;
}
.text-field:disabled {
    -fx-background-color:#faebd7;
    -fx-text-fill: black;
    -fx-opacity: 1.0 ;
}
.row {
    -fx-font-size: 24pt;
}
.button {
    -fx-pref-width: 125px;
}
.topGrd {
    -fx-hgap: 5px;
}
.namn {
    -fx-pref-width: 125px;
}